#pagebody { align-self: center; }

#introduction {
    width: 30rem;
    border-radius: var(--big-radius);
    border: 1px solid hsl(0 0% 85%);
    padding: 0.5rem;
}

#introduction header img {
    border-radius: var(--mid-radius);
    width: 160px;
    height: 160px;
    margin: 0;
}

#introduction header h1 {
    font-size: 75px;
    font-family: Consolas;
    margin: 0;
}

#bio p {
    background-color: hsl(0 0% 85%);
    padding: 0.5rem;
    margin: 0;
    border-radius: var(--mid-radius);
    text-align: justify;
}