<div id="introduction">
    <header>
        <h1><img src="https://avatars.githubusercontent.com/Cyb-3r" /> > elo!</h1>
    </header>

    <div id="bio">
        <h2>About me</h2>
        <p>
            Welcome to my portfolio! I am Cyb, and this is my intro: <br>
            I do pixel-art and a bit of 3D for a hobby and want to developp things for a living (and fun? c:).
            I like making CLI apps and simple games, but I also want to get into GUI program and advanced game developpement. <br>

        </p>
    </div>
</div>